<launch>

<rosparam command="load" file="$(find magic_sm)/config/magic.yaml" />

<node name="magic_sm" pkg="magic_sm" type="state_machine.py" output="screen" />

<!-- <include file="$(find magic_pid)/launch/pid.launch" >
	 <arg name="hdrive" value="$(arg hdrive)"	/> 
</include> -->

<include file="$(find magic_imu)/launch/magic_imu.launch" />
<include file="$(find magic_pid)/launch/runway_pid.launch" />

</launch>
