<launch>
  <group ns='yaw' >

<node name="controller" pkg="pid" type="controller" output="screen" >
  <param name="node_name" value="ir_wall_pid" />
  <param name="Kp" value="5.0" />
  <param name="Ki" value="0.0" />
  <param name="Kd" value="0.1" />
  <param name="upper_limit" value="100" />
  <param name="lower_limit" value="-100" />
  <param name="windup_limit" value="10" />
  <param name="max_loop_frequency" value="100.0" />
  <param name="min_loop_frequency" value="100.0" />
  <param name="topic_from_plant" value="/distance"/>
  <param name="topic_from_controller" value="control_effort"/>
  <param name="setpoint_name" value="setpoint" />
  <!-- <remap from="state" to="/distance" /> -->
 </node>

<node name="setpoint_gen" pkg="magic_pid" type="setpoint_gen.py" output="screen" />


<node name="servo_sim_node" pkg="pid" type="plant_sim" ns="right_wheel" output="screen" >
  <param name="plant_order" value="2" />
  <param name="reverse_acting" value="true" />
</node> -->

r
<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
args="control_effort/data /distance setpoint/data" />
</group>
</launch>
